$FONT_CONTENT: 'Open Sans', sans-serif;
$FONT_WEIGHT--LIGHT: 300;
$FONT_WEIGHT--REGULAR: 400;
$FONT_WEIGHT--SEMI-BOLD: 600;
$FONT_WEIGHT--BOLD: 700;
$FONT_WEIGHT--EXTRA-BOLD: 800;

$COLOR_PRIMARY: #f0a033;
$COLOR_PRIMARY--HOVER: #e09228;
$COLOR_PRIMARY--SHADOW: #be7919;
$COLOR_SECONDARY: #578eb2;
$COLOR_SECONDARY--HOVER: #62a2cc;
$COLOR_HEADINGS: #34495e;

.dark-bcg {background: #34495e !important;}
.medium-bcg {background: #5e84aa !important;}
.light-bcg {background: #f3f6ff !important;}

.btn {border: none; padding: 1.2rem 1.5rem; font-size: 1.1rem; line-height: 1.5; border-radius: 0.3rem; transition: 0.3s;  font-weight: $FONT_WEIGHT--BOLD;}
.btn-lg {padding: 3.5rem 4.5rem; font-size: 1.9rem !important;
    @media (max-width: 767px){
        padding: 2.2rem 3.5rem; font-size: 1.7rem !important;
    }
}
.btn-primary {color: #fff !important; background: $COLOR_PRIMARY; box-shadow: 0px 2px 0px $COLOR_PRIMARY--SHADOW !important; text-decoration: none !important;
    &:hover, &:active, &:focus {text-decoration: none; color:#fff !important; background: $COLOR_PRIMARY--HOVER !important;}
}

.btn-secondary {color:#fff !important; background: $COLOR_SECONDARY; padding: 0.8rem 1.5rem; font-size: 1.4rem; text-decoration: none !important;
    &:hover, &:active, &:focus {text-decoration: none; color:#fff !important; background: $COLOR_SECONDARY--HOVER !important;}
}

.border-primary {border-color: $COLOR_PRIMARY !important;}
.border-secondary {border-color: $COLOR_SECONDARY !important;}

.text-primary {color: $COLOR_PRIMARY !important;}
.text-secondary {color: $COLOR_SECONDARY !important;}

.text-muted {color: #999 !important; 
    a {color: #999 !important;}
}    

.h1, h1 {font-size: 3.0rem;}

.rounded {border-radius: .4rem!important;}

textarea {resize: none;}

.elipsis-3 {overflow: hidden; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;}

.w-33 {width:calc(100% / 3);}

html {font-family: sans-serif; font-size: 10px; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
body {font-family: $FONT_CONTENT; line-height:1; margin:0; padding:0;}

.header {background: #2c3e50;
    &__logo {
        img {
            @media (max-width:767px){
                max-height: 36px;
            }
        }
    }
    &__contact {
        a {position: relative; color: #bdc3c7; font-size: 1.2rem; text-decoration: none;
            &::before {content: ''; position: absolute; top:50%; left:0; transform: translateY(-50%); width:1.4rem; height: 1.4rem;}
            &[href^="tel:"] {padding: 0 0 0 20px;
                &::before {background: url(../images/phone-icon.png) no-repeat center center; background-size: contain;}
            }
            &[href^="mailto:"] {padding: 0 0 0 20px;
                &::before {background: url(../images/email-icon.png) no-repeat center center; background-size: contain;}
            }
            &:hover {text-decoration: underline;}
        }
    }

    .nav {
        &-link {font-size: 1.5rem;
            &:hover {color: #82b6ea !important;}
        }
    }
}

.navbar-toggler {width: 3.5rem; height: 4.0rem; margin: 0 0 0 2.5rem; border:none; outline: none !important; background: transparent; transform:rotate(0deg); transition:0.3s ease-in-out; cursor: pointer;      
    span {display: block; position: absolute; height: 0.2rem; width: 100%; background: #fff; opacity: 1; left:0; transform:rotate(0deg); transition:0.25s ease-in-out;
        &:nth-child(1) {top: 1rem;}
        &:nth-child(2) {top: 1.8rem;}
        &:nth-child(3) {top: 1.8rem;}
        &:nth-child(4) {top: 2.6rem;}
    }
    &.open {
        span {
            &:nth-child(1) {top: 1.5rem; width:0%; left:50%;}
            &:nth-child(2) {transform:rotate(45deg);}
            &:nth-child(3) {transform:rotate(-45deg);}
            &:nth-child(4) {top: 1.5rem; width:0%; left:50%;}
        }
    }
}

.content {padding-top: 6.6rem;
    @media (min-width: 768px){
        padding-top: 8.9rem;
    }
    &__highlights {background: #dbeaf6;}
    &__blog {
        .h1 {
            @media (max-width: 767px){
                font-size: 2.4rem;
            }
        }
        .h2 {font-size: 2.4rem;}
    }
    &__page {font-size: 1.4rem; line-height: 1.5;
        a {color:$COLOR_PRIMARY; text-decoration: underline;
            &:hover {text-decoration: none;}
        }
    }
}

.arrow-left {position: absolute; bottom: 0; left: 0; transform: translateY(50%);}
.arrow-right {position: absolute; bottom: 0; right: 0; transform: translateY(50%);}

.intro {padding: 5rem 0; max-width: 85rem;
    &__heading {line-height: 1.2; font-size: 3.4rem;
        @media (max-width: 767px){
            font-size: 2.8rem;
        }
    }
    &__text {line-height: 1.2; font-size: 2.0rem;
        @media (max-width: 767px){
            font-size: 1.7rem;
        }
    }
    &__form {max-width: 52rem;
        @media (max-width: 550px){
            max-width: 32rem;
        }
    }
        &__input {border:0.1rem solid #fff; font-size: 2.0rem; flex:1;
            @media (max-width: 550px){
                width:100%;
            }
            &::-webkit-input-placeholder {color: #999;}
            &:-ms-input-placeholder {color: #999;}
            &::placeholder {color: #999;}
        }
        &__button {vertical-align: top;
            @media (max-width: 550px){
                width:100%;
            }
        }
    &__info {line-height: 1.2; font-size: 1.2rem;
        a {text-decoration: underline;
            &:hover {text-decoration: none;}
        }
    }
}

.highlights {padding: 4.5rem 0 2rem 0;
    @media (max-width: 550px){
        flex-direction: column; align-items: center;
    }
    &__item {width:20%; position: relative; color: $COLOR_HEADINGS; font-size: 1.3rem; line-height: 1.2;
        @media (max-width: 1199px){
            width:33.33%;
        }
        @media (max-width: 767px){
            width:50%;
        }
        @media (max-width: 550px){
            width:100%;
            padding: 0 0 0 6.5rem;
            &:nth-child(1) {
                img {left:1.8rem;}
            }
            &:nth-child(2) {
                img {left:1rem;}
            }
            &:nth-child(3) {
                img {left:1.6rem;}
            }
            &:nth-child(4) {
                img {left:2rem;}
            }
            &:nth-child(5) {
                img {left:1.7rem;}
            }
        }
        @media (min-width: 551px){
            &:nth-child(1) {padding: 0 1.5rem 0 4.3rem;}
            &:nth-child(2) {padding: 0 1.5rem 0 6.5rem;}
            &:nth-child(3) {padding: 0 1.5rem 0 5.0rem;}
            &:nth-child(4) {padding: 0 1.5rem 0 4.0rem;}
            &:nth-child(5) {padding: 0 0 0 5.0rem;}
        }
        img {position: absolute; top:0; left:1rem;}
        strong {font-size: 2.1rem;}
    }
}

.base-headings {line-height: 1.2; color:$COLOR_HEADINGS; font-size: 3.0rem;
    @media (max-width: 767px){
        font-size: 2.4rem;
    }
}

.companies {padding: 6rem 0;
    &__heading {@extend .base-headings;}
    &__list {
        a {
            img {max-width: 15rem;
                @media (max-width: 767px){
                    max-width: 10rem;
                }
            }
        }
    }
}

.reviews {padding: 6rem 0;
    &__heading {@extend .base-headings;}
    &__item {
        @media (max-width: 990px){
            width:100%;
        }
    }
}

.review-item {
    &__text {font-size: 1.4rem; color:#333; line-height: 1.6;}
    &__name {font-size: 1.6rem; color:#2c3e50;}
    &__rank {font-size: 1.2rem; color:#7f8c8d;}
    img {max-height: 2.5rem;}
}

.reasons {padding: 6rem 0; max-width: 100rem; margin: 0 auto;
    &__heading {@extend .base-headings;}
}

.reason-item {font-size: 1.6rem; font-weight: $FONT_WEIGHT--LIGHT; margin: 0 0 3rem 0;
    img {
        @media (min-width:768px) and (max-width:990px){
            max-width: 30rem !important;
        }
    }
    &__text {flex: 1; padding: 2rem 0 0 3.5rem;
        @media (max-width: 767px){
            padding: 2rem 0 0 0; align-items: center;
        }
        h3 {font-size: 2.4rem; font-weight: $FONT_WEIGHT--LIGHT; color: #34495e; margin: 0 0 2rem 0;}
        ul {list-style: none; margin: 0; padding: 0;
            li {position: relative; margin: 0 0 1rem 0; padding: 0 0 0 1.5rem;
                &:before {content: ""; position: absolute; top:0.8rem; left:0; width:0.6rem; height: 0.1rem; background: #666;}
            }
        }
    }
    &.flex-row-reverse {
        .reason-item__text {padding: 2rem 3.5rem 0 0;
            @media (max-width: 767px){
                padding: 2rem 0 0 0;
            }
        }
    }
}

.text-1,
.text-2,
.text-3,
.text-4,
.try {padding: 8rem 0 5rem 0; 
    @media (max-width: 767px){
        padding: 4rem 0 5rem 0; 
    }
    &__heading {@extend .base-headings;}
    a {font-size: 1.3rem;}
}

.text-1 {padding: 4.5rem 0 3.5rem 0;
    a {color: #2c3e50;}
}

.text-2 {
    &__heading {max-width: 73rem; margin: 0 auto;}
}

.text-3 {
    &__heading {max-width: 73rem; margin: 0 auto;
        strong {color:$COLOR_PRIMARY; font-size: 4.8rem;}
    }
}

.text-4 {padding: 7rem 0 7rem 0; 
    @media (max-width: 767px){
        padding: 4rem 0; 
    }
}

.blog {padding: 6rem 0 4rem 0;
    &__heading {@extend .base-headings;}
}

.blog-list {color: #000; font-size: 1.4rem;
    &__item {background: #fff; width:calc(33.33% - 2rem); border-bottom: 0.1rem solid #e5e8f0;
        @media (max-width: 990px){
            width:calc(50% - 2rem);
        }
        @media (max-width: 767px){
            width:calc(50% - 1rem);
        }
        @media (max-width: 550px){
            width:100%;
        }
        h3 {font-size: 2.2rem;}
        p {line-height: 1.5;}
    }
    a {color:#4d7393;
        h3 {color: #0b538f;}
    }
}

.eshop {padding: 6rem 0;
    &__heading {@extend .base-headings;}
    &__arrow {position: absolute; bottom: 0; left: 50%; transform: translate(-50%,50%);}
}

.eshop-list {border-left: 1px solid #DCE7F0; border-top: 1px solid #DCE7F0;
    &__item {width:calc(100% / 6); border-bottom: 1px solid #DCE7F0; border-right: 1px solid #DCE7F0; padding-top: 10%; position: relative;
        @media (max-width: 990px){
            width:calc(100% / 5);
        }
        @media (max-width: 767px){
            width:calc(100% / 4); padding-top: 13%;
        }
        @media (max-width: 550px){
            width:calc(100% / 2); padding-top: 22%;
        }
        a {position: absolute; top:0; left:0; width:100%; height: 100%;
            img {max-width: calc(100% - 3rem); max-height: 4rem; position: absolute; top:50%; left:50%; transform: translate(-50%,-50%);}
        }
    }
}

.footer {
    &__logo {
        img {}
    }
    &__links, &__address {
        h2 {font-size: 19px; color: #6a7f93;}
    }
    &__links {
        ul {
            li {
                a {color: #ffffff; font-size: 14px; display: block; padding: 0.3rem 0 0.3rem 1rem; position: relative; text-decoration: none;
                    &::before {content: ""; background: url('../images/footer-links.png') no-repeat center left; width:0.6rem; height: 0.9rem; position: absolute; top:0.6rem; left:0;}
                    &:hover {color: #f0a033;}
                }
            }
        }
    }
    &__address {color: #bdc3c7; font-size: 14px; line-height: 1.4;}
    &__social {
        a {
            img {max-width: 2.6rem;}
        }
    }
}

.copyright {background: #2c3e50; font-size: 1.1rem;}

.mobilemenu {top: 0; z-index: 1000; left: 0; transition: .3s; left: 0; visibility: hidden;
    &.open {visibility: visible;
        .mobilemenu__backdrop {display: block;}
        .mobilemenu__body { transform: translateY(0);}
    }
    &__backdrop {top: 0; left: 0; background: #3d464d; opacity: 0.9; display: none;}
    &__body {top: 0; left: 0; width: 100%; box-shadow: 0 0 20px rgba(0,0,0,0.4);transition: .3s; transform: translateY(-100%); padding-top: 6.6rem; background: #2c3e50;
        @media (min-width: 768px){
            padding-top: 8.9rem;
        }
    }
        &__content {flex-grow: 1; overflow-y: scroll; -webkit-overflow-scrolling: touch;}        
        
        .nav {
            li {margin: 0; padding: 0; display: block; border-bottom: 1px solid $COLOR_SECONDARY; position: relative;
                a {font-size: 1.6rem; line-height: 1.0; text-decoration: none; font-weight: 600; color: #fff; transition: 0.3s; display: block; padding: 1.5rem 1.5rem; position: relative;}
            }
        }
}

.blog-item {border-bottom: 1px dashed #555; font-size: 1.4rem; line-height: 1.5;
    &__desc {
        a {color:$COLOR_PRIMARY; text-decoration: underline; font-weight: $FONT_WEIGHT--BOLD;
            &:hover {text-decoration: none;}
        }
    }
}

.pagination {font-size: 1.4rem;
    .disabled {display: none;}
    .page-item {
        &.active {
            a {background: #5e84aa !important; border-color: #5e84aa !important; color:#fff;}
        }
        .page-link {padding: 0.9rem 1.4rem; border-radius: 0.4rem; border: 0.1rem solid #999; margin: 0.2rem; transition: 0.3s;
            &.medium-bcg {border-color: #5e84aa !important;
                &:hover {background: $COLOR_SECONDARY--HOVER !important; border-color: $COLOR_SECONDARY--HOVER !important;}
            }
        }
    }
}

.search-form {font-size: 1.2rem;
    &__input {flex:1; outline: none !important;}
    &__settings, &__btn {outline: none !important;}
}

.categories-toggler {
    @media (max-width:767px) {
        &:before {content: ''; border-top:5px solid #000; border-left:5px solid transparent; border-right:5px solid transparent; top:50%; left:11rem; transform: translateY(-50%); position: absolute;}
    }
}

.categories {
    &__nav {font-size: 1.6rem; line-height: 1.5; display: none;
        @media (min-width:768px) {
            display: block !important;
        }
        &.open {display: block;}
        a {color:$COLOR_PRIMARY; text-decoration: underline; font-weight: $FONT_WEIGHT--REGULAR;
            &:hover {text-decoration: none;}
        }
    }
}

.tagcloud {line-height: 1.4;
    a {color:$COLOR_PRIMARY; text-decoration: underline;
        &:hover {text-decoration: none;}
    }
}

.single-page {font-size: 1.4rem; line-height: 1.5;
    &__thumb {width: 100%; padding: 0 0 2rem 0;
        @media (min-width:550px) {
            max-width: 30rem; float: right; padding: 0 0 2rem 2rem; width: auto;
        }
    }
    &__content {
        a {color:$COLOR_PRIMARY; text-decoration: underline;
            &:hover {text-decoration: none;}
        }
    }
}

.related-articles {
    a {color:$COLOR_PRIMARY; text-decoration: none; font-weight: $FONT_WEIGHT--BOLD;
        &:hover {text-decoration: underline;}
    }
}

.comments {border-top: 1px dashed #555;}

.breadcrumb {font-size: 1.4rem; line-height: 1.3;
    a {color:$COLOR_PRIMARY; text-decoration: underline;
        &:hover {text-decoration: none;}
    }
}
.breadcrumb-item+.breadcrumb-item::before {
    content: "→";
}

.pricing-plan {width:100%; font-size: 1.4rem; line-height: 1.2;
    @media (min-width: 991px){
        width:calc(33.33% - 2rem);
    }
    &__icon {position: absolute; left:50%; transform: translateX(-50%); top:-3.7rem;}
    &__name {font-size: 3.6rem;}
    &__cost {
        strong {font-size: 4.6rem;}
        small {font-size: 1.4rem;}
    }
    &__annualy {font-size: 2.4rem;}
    &__benefits {color: #777;
        ul { 
            li {position: relative; padding: 0 0 1rem 2rem;
                &:before {content: ""; width:0.5rem; height: 0.5rem; background: $COLOR_SECONDARY; position: absolute; top:0.8rem; left:0; border-radius: 100%;}
            }
        }   
    }
}
