@charset "UTF-8";
.dark-bcg {
  background: #34495e !important; }

.medium-bcg {
  background: #5e84aa !important; }

.light-bcg {
  background: #f3f6ff !important; }

.btn {
  border: none;
  padding: 1.2rem 1.5rem;
  font-size: 1.1rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  transition: 0.3s;
  font-weight: 700; }

.btn-lg {
  padding: 3.5rem 4.5rem;
  font-size: 1.9rem !important; }
  @media (max-width: 767px) {
    .btn-lg {
      padding: 2.2rem 3.5rem;
      font-size: 1.7rem !important; } }

.btn-primary {
  color: #fff !important;
  background: #f0a033;
  box-shadow: 0px 2px 0px #be7919 !important;
  text-decoration: none !important; }
  .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    text-decoration: none;
    color: #fff !important;
    background: #e09228 !important; }

.btn-secondary {
  color: #fff !important;
  background: #578eb2;
  padding: 0.8rem 1.5rem;
  font-size: 1.4rem;
  text-decoration: none !important; }
  .btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus {
    text-decoration: none;
    color: #fff !important;
    background: #62a2cc !important; }

.border-primary {
  border-color: #f0a033 !important; }

.border-secondary {
  border-color: #578eb2 !important; }

.text-primary {
  color: #f0a033 !important; }

.text-secondary {
  color: #578eb2 !important; }

.text-muted {
  color: #999 !important; }
  .text-muted a {
    color: #999 !important; }

.h1, h1 {
  font-size: 3.0rem; }

.rounded {
  border-radius: 0.4rem !important; }

textarea {
  resize: none; }

.elipsis-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; }

.w-33 {
  width: calc(100% / 3); }

html {
  font-family: sans-serif;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1;
  margin: 0;
  padding: 0; }

.header {
  background: #2c3e50; }
  @media (max-width: 767px) {
    .header__logo img {
      max-height: 36px; } }
  .header__contact a {
    position: relative;
    color: #bdc3c7;
    font-size: 1.2rem;
    text-decoration: none; }
    .header__contact a::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 1.4rem;
      height: 1.4rem; }
    .header__contact a[href^="tel:"] {
      padding: 0 0 0 20px; }
      .header__contact a[href^="tel:"]::before {
        background: url(../images/phone-icon.png) no-repeat center center;
        background-size: contain; }
    .header__contact a[href^="mailto:"] {
      padding: 0 0 0 20px; }
      .header__contact a[href^="mailto:"]::before {
        background: url(../images/email-icon.png) no-repeat center center;
        background-size: contain; }
    .header__contact a:hover {
      text-decoration: underline; }
  .header .nav-link {
    font-size: 1.5rem; }
    .header .nav-link:hover {
      color: #82b6ea !important; }

.navbar-toggler {
  width: 3.5rem;
  height: 4.0rem;
  margin: 0 0 0 2.5rem;
  border: none;
  outline: none !important;
  background: transparent;
  transform: rotate(0deg);
  transition: 0.3s ease-in-out;
  cursor: pointer; }
  .navbar-toggler span {
    display: block;
    position: absolute;
    height: 0.2rem;
    width: 100%;
    background: #fff;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out; }
    .navbar-toggler span:nth-child(1) {
      top: 1rem; }
    .navbar-toggler span:nth-child(2) {
      top: 1.8rem; }
    .navbar-toggler span:nth-child(3) {
      top: 1.8rem; }
    .navbar-toggler span:nth-child(4) {
      top: 2.6rem; }
  .navbar-toggler.open span:nth-child(1) {
    top: 1.5rem;
    width: 0%;
    left: 50%; }
  .navbar-toggler.open span:nth-child(2) {
    transform: rotate(45deg); }
  .navbar-toggler.open span:nth-child(3) {
    transform: rotate(-45deg); }
  .navbar-toggler.open span:nth-child(4) {
    top: 1.5rem;
    width: 0%;
    left: 50%; }

.content {
  padding-top: 6.6rem; }
  @media (min-width: 768px) {
    .content {
      padding-top: 8.9rem; } }
  .content__highlights {
    background: #dbeaf6; }
  @media (max-width: 767px) {
    .content__blog .h1 {
      font-size: 2.4rem; } }
  .content__blog .h2 {
    font-size: 2.4rem; }
  .content__page {
    font-size: 1.4rem;
    line-height: 1.5; }
    .content__page a {
      color: #f0a033;
      text-decoration: underline; }
      .content__page a:hover {
        text-decoration: none; }

.arrow-left {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(50%); }

.arrow-right {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(50%); }

.intro {
  padding: 5rem 0;
  max-width: 85rem; }
  .intro__heading {
    line-height: 1.2;
    font-size: 3.4rem; }
    @media (max-width: 767px) {
      .intro__heading {
        font-size: 2.8rem; } }
  .intro__text {
    line-height: 1.2;
    font-size: 2.0rem; }
    @media (max-width: 767px) {
      .intro__text {
        font-size: 1.7rem; } }
  .intro__form {
    max-width: 52rem; }
    @media (max-width: 550px) {
      .intro__form {
        max-width: 32rem; } }
  .intro__input {
    border: 0.1rem solid #fff;
    font-size: 2.0rem;
    flex: 1; }
    @media (max-width: 550px) {
      .intro__input {
        width: 100%; } }
    .intro__input::-webkit-input-placeholder {
      color: #999; }
    .intro__input:-ms-input-placeholder {
      color: #999; }
    .intro__input::placeholder {
      color: #999; }
  .intro__button {
    vertical-align: top; }
    @media (max-width: 550px) {
      .intro__button {
        width: 100%; } }
  .intro__info {
    line-height: 1.2;
    font-size: 1.2rem; }
    .intro__info a {
      text-decoration: underline; }
      .intro__info a:hover {
        text-decoration: none; }

.highlights {
  padding: 4.5rem 0 2rem 0; }
  @media (max-width: 550px) {
    .highlights {
      flex-direction: column;
      align-items: center; } }
  .highlights__item {
    width: 20%;
    position: relative;
    color: #34495e;
    font-size: 1.3rem;
    line-height: 1.2; }
    @media (max-width: 1199px) {
      .highlights__item {
        width: 33.33%; } }
    @media (max-width: 767px) {
      .highlights__item {
        width: 50%; } }
    @media (max-width: 550px) {
      .highlights__item {
        width: 100%;
        padding: 0 0 0 6.5rem; }
        .highlights__item:nth-child(1) img {
          left: 1.8rem; }
        .highlights__item:nth-child(2) img {
          left: 1rem; }
        .highlights__item:nth-child(3) img {
          left: 1.6rem; }
        .highlights__item:nth-child(4) img {
          left: 2rem; }
        .highlights__item:nth-child(5) img {
          left: 1.7rem; } }
    @media (min-width: 551px) {
      .highlights__item:nth-child(1) {
        padding: 0 1.5rem 0 4.3rem; }
      .highlights__item:nth-child(2) {
        padding: 0 1.5rem 0 6.5rem; }
      .highlights__item:nth-child(3) {
        padding: 0 1.5rem 0 5.0rem; }
      .highlights__item:nth-child(4) {
        padding: 0 1.5rem 0 4.0rem; }
      .highlights__item:nth-child(5) {
        padding: 0 0 0 5.0rem; } }
    .highlights__item img {
      position: absolute;
      top: 0;
      left: 1rem; }
    .highlights__item strong {
      font-size: 2.1rem; }

.base-headings, .companies__heading, .reviews__heading, .reasons__heading, .text-1__heading,
.text-2__heading,
.text-3__heading,
.text-4__heading,
.try__heading, .blog__heading, .eshop__heading {
  line-height: 1.2;
  color: #34495e;
  font-size: 3.0rem; }
  @media (max-width: 767px) {
    .base-headings, .companies__heading, .reviews__heading, .reasons__heading, .text-1__heading,
    .text-2__heading,
    .text-3__heading,
    .text-4__heading,
    .try__heading, .blog__heading, .eshop__heading {
      font-size: 2.4rem; } }

.companies {
  padding: 6rem 0; }
  .companies__list a img {
    max-width: 15rem; }
    @media (max-width: 767px) {
      .companies__list a img {
        max-width: 10rem; } }

.reviews {
  padding: 6rem 0; }
  @media (max-width: 990px) {
    .reviews__item {
      width: 100%; } }

.review-item__text {
  font-size: 1.4rem;
  color: #333;
  line-height: 1.6; }
.review-item__name {
  font-size: 1.6rem;
  color: #2c3e50; }
.review-item__rank {
  font-size: 1.2rem;
  color: #7f8c8d; }
.review-item img {
  max-height: 2.5rem; }

.reasons {
  padding: 6rem 0;
  max-width: 100rem;
  margin: 0 auto; }

.reason-item {
  font-size: 1.6rem;
  font-weight: 300;
  margin: 0 0 3rem 0; }
  @media (min-width: 768px) and (max-width: 990px) {
    .reason-item img {
      max-width: 30rem !important; } }
  .reason-item__text {
    flex: 1;
    padding: 2rem 0 0 3.5rem; }
    @media (max-width: 767px) {
      .reason-item__text {
        padding: 2rem 0 0 0;
        align-items: center; } }
    .reason-item__text h3 {
      font-size: 2.4rem;
      font-weight: 300;
      color: #34495e;
      margin: 0 0 2rem 0; }
    .reason-item__text ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .reason-item__text ul li {
        position: relative;
        margin: 0 0 1rem 0;
        padding: 0 0 0 1.5rem; }
        .reason-item__text ul li:before {
          content: "";
          position: absolute;
          top: 0.8rem;
          left: 0;
          width: 0.6rem;
          height: 0.1rem;
          background: #666; }
  .reason-item.flex-row-reverse .reason-item__text {
    padding: 2rem 3.5rem 0 0; }
    @media (max-width: 767px) {
      .reason-item.flex-row-reverse .reason-item__text {
        padding: 2rem 0 0 0; } }

.text-1,
.text-2,
.text-3,
.text-4,
.try {
  padding: 8rem 0 5rem 0; }
  @media (max-width: 767px) {
    .text-1,
    .text-2,
    .text-3,
    .text-4,
    .try {
      padding: 4rem 0 5rem 0; } }
  .text-1 a,
  .text-2 a,
  .text-3 a,
  .text-4 a,
  .try a {
    font-size: 1.3rem; }

.text-1 {
  padding: 4.5rem 0 3.5rem 0; }
  .text-1 a {
    color: #2c3e50; }

.text-2__heading {
  max-width: 73rem;
  margin: 0 auto; }

.text-3__heading {
  max-width: 73rem;
  margin: 0 auto; }
  .text-3__heading strong {
    color: #f0a033;
    font-size: 4.8rem; }

.text-4 {
  padding: 7rem 0 7rem 0; }
  @media (max-width: 767px) {
    .text-4 {
      padding: 4rem 0; } }

.blog {
  padding: 6rem 0 4rem 0; }

.blog-list {
  color: #000;
  font-size: 1.4rem; }
  .blog-list__item {
    background: #fff;
    width: calc(33.33% - 2rem);
    border-bottom: 0.1rem solid #e5e8f0; }
    @media (max-width: 990px) {
      .blog-list__item {
        width: calc(50% - 2rem); } }
    @media (max-width: 767px) {
      .blog-list__item {
        width: calc(50% - 1rem); } }
    @media (max-width: 550px) {
      .blog-list__item {
        width: 100%; } }
    .blog-list__item h3 {
      font-size: 2.2rem; }
    .blog-list__item p {
      line-height: 1.5; }
  .blog-list a {
    color: #4d7393; }
    .blog-list a h3 {
      color: #0b538f; }

.eshop {
  padding: 6rem 0; }
  .eshop__arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%); }

.eshop-list {
  border-left: 1px solid #DCE7F0;
  border-top: 1px solid #DCE7F0; }
  .eshop-list__item {
    width: calc(100% / 6);
    border-bottom: 1px solid #DCE7F0;
    border-right: 1px solid #DCE7F0;
    padding-top: 10%;
    position: relative; }
    @media (max-width: 990px) {
      .eshop-list__item {
        width: calc(100% / 5); } }
    @media (max-width: 767px) {
      .eshop-list__item {
        width: calc(100% / 4);
        padding-top: 13%; } }
    @media (max-width: 550px) {
      .eshop-list__item {
        width: calc(100% / 2);
        padding-top: 22%; } }
    .eshop-list__item a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      .eshop-list__item a img {
        max-width: calc(100% - 3rem);
        max-height: 4rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }

.footer__links h2, .footer__address h2 {
  font-size: 19px;
  color: #6a7f93; }
.footer__links ul li a {
  color: #ffffff;
  font-size: 14px;
  display: block;
  padding: 0.3rem 0 0.3rem 1rem;
  position: relative;
  text-decoration: none; }
  .footer__links ul li a::before {
    content: "";
    background: url("../images/footer-links.png") no-repeat center left;
    width: 0.6rem;
    height: 0.9rem;
    position: absolute;
    top: 0.6rem;
    left: 0; }
  .footer__links ul li a:hover {
    color: #f0a033; }
.footer__address {
  color: #bdc3c7;
  font-size: 14px;
  line-height: 1.4; }
.footer__social a img {
  max-width: 2.6rem; }

.copyright {
  background: #2c3e50;
  font-size: 1.1rem; }

.mobilemenu {
  top: 0;
  z-index: 1000;
  left: 0;
  transition: .3s;
  left: 0;
  visibility: hidden; }
  .mobilemenu.open {
    visibility: visible; }
    .mobilemenu.open .mobilemenu__backdrop {
      display: block; }
    .mobilemenu.open .mobilemenu__body {
      transform: translateY(0); }
  .mobilemenu__backdrop {
    top: 0;
    left: 0;
    background: #3d464d;
    opacity: 0.9;
    display: none; }
  .mobilemenu__body {
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    transition: .3s;
    transform: translateY(-100%);
    padding-top: 6.6rem;
    background: #2c3e50; }
    @media (min-width: 768px) {
      .mobilemenu__body {
        padding-top: 8.9rem; } }
  .mobilemenu__content {
    flex-grow: 1;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; }
  .mobilemenu .nav li {
    margin: 0;
    padding: 0;
    display: block;
    border-bottom: 1px solid #578eb2;
    position: relative; }
    .mobilemenu .nav li a {
      font-size: 1.6rem;
      line-height: 1.0;
      text-decoration: none;
      font-weight: 600;
      color: #fff;
      transition: 0.3s;
      display: block;
      padding: 1.5rem 1.5rem;
      position: relative; }

.blog-item {
  border-bottom: 1px dashed #555;
  font-size: 1.4rem;
  line-height: 1.5; }
  .blog-item__desc a {
    color: #f0a033;
    text-decoration: underline;
    font-weight: 700; }
    .blog-item__desc a:hover {
      text-decoration: none; }

.pagination {
  font-size: 1.4rem; }
  .pagination .disabled {
    display: none; }
  .pagination .page-item.active a {
    background: #5e84aa !important;
    border-color: #5e84aa !important;
    color: #fff; }
  .pagination .page-item .page-link {
    padding: 0.9rem 1.4rem;
    border-radius: 0.4rem;
    border: 0.1rem solid #999;
    margin: 0.2rem;
    transition: 0.3s; }
    .pagination .page-item .page-link.medium-bcg {
      border-color: #5e84aa !important; }
      .pagination .page-item .page-link.medium-bcg:hover {
        background: #62a2cc !important;
        border-color: #62a2cc !important; }

.search-form {
  font-size: 1.2rem; }
  .search-form__input {
    flex: 1;
    outline: none !important; }
  .search-form__settings, .search-form__btn {
    outline: none !important; }

@media (max-width: 767px) {
  .categories-toggler:before {
    content: '';
    border-top: 5px solid #000;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 50%;
    left: 11rem;
    transform: translateY(-50%);
    position: absolute; } }

.categories__nav {
  font-size: 1.6rem;
  line-height: 1.5;
  display: none; }
  @media (min-width: 768px) {
    .categories__nav {
      display: block !important; } }
  .categories__nav.open {
    display: block; }
  .categories__nav a {
    color: #f0a033;
    text-decoration: underline;
    font-weight: 400; }
    .categories__nav a:hover {
      text-decoration: none; }

.tagcloud {
  line-height: 1.4; }
  .tagcloud a {
    color: #f0a033;
    text-decoration: underline; }
    .tagcloud a:hover {
      text-decoration: none; }

.single-page {
  font-size: 1.4rem;
  line-height: 1.5; }
  .single-page__thumb {
    width: 100%;
    padding: 0 0 2rem 0; }
    @media (min-width: 550px) {
      .single-page__thumb {
        max-width: 30rem;
        float: right;
        padding: 0 0 2rem 2rem;
        width: auto; } }
  .single-page__content a {
    color: #f0a033;
    text-decoration: underline; }
    .single-page__content a:hover {
      text-decoration: none; }

.related-articles a {
  color: #f0a033;
  text-decoration: none;
  font-weight: 700; }
  .related-articles a:hover {
    text-decoration: underline; }

.comments {
  border-top: 1px dashed #555; }

.breadcrumb {
  font-size: 1.4rem;
  line-height: 1.3; }
  .breadcrumb a {
    color: #f0a033;
    text-decoration: underline; }
    .breadcrumb a:hover {
      text-decoration: none; }

.breadcrumb-item + .breadcrumb-item::before {
  content: "→"; }

.pricing-plan {
  width: 100%;
  font-size: 1.4rem;
  line-height: 1.2; }
  @media (min-width: 991px) {
    .pricing-plan {
      width: calc(33.33% - 2rem); } }
  .pricing-plan__icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -3.7rem; }
  .pricing-plan__name {
    font-size: 3.6rem; }
  .pricing-plan__cost strong {
    font-size: 4.6rem; }
  .pricing-plan__cost small {
    font-size: 1.4rem; }
  .pricing-plan__annualy {
    font-size: 2.4rem; }
  .pricing-plan__benefits {
    color: #777; }
    .pricing-plan__benefits ul li {
      position: relative;
      padding: 0 0 1rem 2rem; }
      .pricing-plan__benefits ul li:before {
        content: "";
        width: 0.5rem;
        height: 0.5rem;
        background: #578eb2;
        position: absolute;
        top: 0.8rem;
        left: 0;
        border-radius: 100%; }

/*# sourceMappingURL=styles.css.map */
